## Importing the libraries

In [80]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report,confusion_matrix

from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.metrics import confusion_matrix

## Loading the dataset

In [7]:
dataset = pd.read_csv('Social_Network_Ads.csv')

In [8]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

## Define X by selecting only the age and EstimatedSalary, and y with purchased column

In [17]:
X = dataset[['Age','EstimatedSalary']]
y = dataset['Purchased']

In [6]:
X.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [7]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

## Print count of each label in Purchased column

In [18]:
y.value_counts()

0    257
1    143
Name: Purchased, dtype: int64

## Print Correlation of each feature in the dataset

In [27]:

corr = dataset.corr()
corr.style.background_gradient(cmap='coolwarm')

# First: Logistic Regression model

## Split the dataset into Training set and Test set with test_size = 0.25 and random_state = 0

In [30]:
logmodel = LogisticRegression()

In [32]:
X_train, X_test,y_train,  y_test = train_test_split(X, y, test_size=0.25, random_state=0)

## Train the model with random_state = 0

In [33]:
logmodel.fit(X_train,y_train)
predictions = logmodel.predict(X_test)

## Print the prediction results

In [42]:
print(predictions)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

## Create dataframe with the Actual Purchased and Predict Purchased

In [ ]:
dfcopy = dataset[dataset[]]

In [60]:
X_test

     Age  EstimatedSalary
132   30            87000
309   38            50000
341   35            75000
196   30            79000
246   35            50000
..   ...              ...
146   27            96000
135   23            63000
390   48            33000
264   48            90000
364   42           104000

[100 rows x 2 columns]

In [70]:
test_dataset = pd.DataFrame(y_test)
test_dataset['Predict_Purchased'] = predictions
test_dataset = pd.concat([X_test,test_dataset],axis=1)

test_dataset

     Age  EstimatedSalary  Purchased  Predict_Purchased
132   30            87000          0                  0
309   38            50000          0                  0
341   35            75000          0                  0
196   30            79000          0                  0
246   35            50000          0                  0
..   ...              ...        ...                ...
146   27            96000          1                  0
135   23            63000          0                  0
390   48            33000          1                  0
264   48            90000          1                  0
364   42           104000          1                  0

[100 rows x 4 columns]

In [73]:
(test_dataset['Purchased'] == test_dataset['Predict_Purchased']).value_counts()

True     68
False    32
dtype: int64

## Print Confusion Matrix and classification_report

In [74]:
print(accuracy_score(y_test,predictions))

0.68

In [76]:
print(confusion_matrix(y_test,predictions))

[[68  0]
 [32  0]]

In [92]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.68      1.00      0.81        68
           1       0.00      0.00      0.00        32

    accuracy                           0.68       100
   macro avg       0.34      0.50      0.40       100
weighted avg       0.46      0.68      0.55       100

## Use StandardScaler() to improved performance and re-train your model

In [83]:
StandardScaler()

StandardScaler()

In [103]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.68      1.00      0.81        68
           1       0.00      0.00      0.00        32

    accuracy                           0.68       100
   macro avg       0.34      0.50      0.40       100
weighted avg       0.46      0.68      0.55       100

## Try to Predicting a new result - e.g: person with Age = 30 and Salary = 90,000

[0]

## Try to Predicting a new result - e.g: person with Age = 40 and Salary = 90,000

[1]